$accent: #FF7400;
$title: #D67E35;
$text: #656363;


%opensans-700{
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}
%opensans-italic{
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 400;
}
%opensans-400{
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}
%tinos-400{
  font-family: 'Tinos-Regular', sans-serif;
  font-weight: 400;
}