@import 'vars';
@import 'fonts';
@import 'reset'; 
@import 'libs';
@import 'global';

.header{
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  &__content-title{
    span{
      color: $title;
    }
  }
  &__top{
    display: flex;
    align-items: center;
    padding-top: 50px;
  }
  &__cart-link{
    margin-left: 35px;
    padding: 5px 15px 5px 0;
    border-right: 1px solid #fff;
  }
  &__contacts{
    margin-left: 34px;
  }
  &__contacts-tel{
    @extend %opensans-700;
    padding-left: 31px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 23px;
      background-image: url(../images/icon/phone.svg);
    }
  }
  &__contacts-text{
    font-size: 14px;
    line-height: 19px;
    color: #fff;
  }
  &__button{
    margin-left: 45px;
  }
  .menu{
    margin: 0 0 0 auto;
    &__list{
      display: flex;
    }
    &__list-link{
      @extend %opensans-700;
      font-size: 14px;
      line-height: 19px;
      color: #fff;
      transition: all .3s;
      &:hover{
        color: $accent;
      }
    }
    &__list-item + .menu__list-item{
      margin-left: 23px;
    }
  }
  &__content{
    width: 556px;
    height: 179px;
    margin-top: 204px;
  }
  &__content-title{
    font-size: 80px;
    line-height: 91px;
    margin-bottom: 12px;
    span{
      margin-left: 24px;
      font-size: 50px;
      line-height: 57px;
    }
  }
  &__content-subtitle{
    color: #fff;
    margin-bottom: 35px;
    text-align: center;
    position: relative;
    &::before,
    &::after{
      content: '';
      position: absolute;
      width: 61px;
      height: 2px;
      background-color: #C4C4C4;
      top: 11px
    }
    &::before{
      left: 135px;
    }
    &::after{
      right: 135px;
    }
  }
  &__content-button{
    text-align: center;
  }
  &__menu-btn{
    width: 30px;
    height: 18px;
    margin-left: auto;
    margin-right: 0;
    padding-top: 8px;
    cursor: pointer;
    display: none;
    span{
      display: block;
      width: 30px;
      height: 3px;
      background-color: $accent;
      border-radius: 2px;
      position: relative;
      &::before,
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: $accent;
        border-radius: 2px;
      }
      &::before{
        top: 5px;
      }
      &::after{
        top: -5px;
      }
    }
  }
}

.value{
  &__inner{
    margin-bottom: 122px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -80px;
    left: 0;
  }
  &__item + .value__item{
    margin-left: 31px;
  }
  &__item{
    padding: 48px 20px 10px;
    width: 349px;
    min-height: 328px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  &__title{
    @extend %tinos-400;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__item-text{
    @extend %tinos-400;
    color: $text;
    font-size: 26px;
    line-height: 30px;
  }
  &__history{
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
  }
  &__history-text{
    max-width: 444px;
    width: 100%;
  }
  &__history-text-title{
    margin-bottom: 20px;
    text-align: center;
  }
  &__history-text-text{
    font-size: 16px;
    line-height: 21px;
    color: #656363;
    text-align: center;
    margin-bottom: 90px;
  }
  &__history-text-numbers{
    display: flex;
    justify-content: space-around;
  }
  &__history-text-item{
    text-align: center;
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
    span{
      display: block;
      font-size: 20px;
      line-height: 27px;
      color: #000;
    }
  }
}

.offer{
  background-image: url(../images/offer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 357px;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    font-size: 52px;
    line-height: 60px;
    max-width: 601px;
    width: 100%;
    padding-top: 80px; 
    margin-bottom: 20px; 
  }
  &__subtitle{
    @extend %opensans-700;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
  }
  &__button{
    margin-top: 100px;
  }
}
.dishes{
  &__inner{
    padding: 130px 0 150px;
  }
  &__title{
    text-align: center;
    margin-bottom: 140px;
  }
  &__slider{
  /*  max-width: 635px; */ 
   min-width: 100%;
   display: flex;
  }
  &__slider-min-box{
    display: flex;
    width: 100%;
  }
  &__slider-min-item{
    width: 160px;
    img{
      width: 160px;
      height: 139px;
      margin-bottom: 23px;
    }
  }
  &__slider-big{
    margin-right: 30px;
    img{
      width: 445px;
      height: 474px;
      background-size: cover;
    }
    .slick-list{
      width: 445px;
    }
  }
  &__slider-min{
    img{
      background-size: cover;
    }
    .slick-list{
      padding: 0 !important;
      width: 161px;
      
    }
  }  
  .slick-vertical .slick-slide{
    border: none;
  }
  &__price{
    width: 100%;
  }
  &__price-item{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    padding: 50px 10px 0 30px;
    @extend %tinos-400;
    font-size: 26px;
    line-height: 29px;
    height: 140px;
    span{
      position: relative;
      top: 15px;
      width: 50%;
      height: 1px;
      border-bottom: 2px dashed #000;
    }
  }
}
.our-menu{
  background-image: url(../images/menu-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  &__inner{
    padding: 98px 0 226px;
  }
  &__title{
    color: #fff;
    text-align: center;
    margin-bottom: 138px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    padding-top: 80px;
    width: 350px;
    height: 510px;
    background-color: #fff;
  }
  &__recommended{
    position: relative;
  &::after{
    content: 'RECOMMENDED';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    line-height: 17px;
    padding: 7px 11px 11px 12px;
    background-color: #D67E34;
  }
  }
  &__image{
    width: 225px;
    height: 225px;
    margin: 0 auto;
    position: relative;
    &::before{
      content: '420';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100px;
      height: 100px;
      background-color: #D67E34;
      @extend %cookie-400;
      font-size: 30px;
      line-height: 33px;
      color: #fff;
      text-align: center;
      padding-top: 25px;
      border: 10px solid #fff;
      border-radius: 50%;
    }
  }
  &__name{
    text-align: center;
    font-size: 26px;
    line-height: 29px;
    margin: 16px 0 17px;
  }
  &__description{
    margin: 0 auto 20px;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    width: 217px;
  }
  &__btn{
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 50px;
    border: none;
    font-size: 16px;
    line-height: 21px;
    @extend %opensans-700;
    color: #fff;
    background-color: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;  
  }
}
.reviews{
  background-color: #E5E5E5;
}
.reviews-slider{
  padding: 104px 0;
  margin: 0 auto;
  width: 920px;
  &__text{
    @extend %opensans-italic;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__photo{
    display: block;
    padding-bottom: 17px;
  }
  &__img{
    margin: 0 auto;
  }
  &__position{
    text-align: center;
    @extend %opensans-600;
    font-size: 20px;
    line-height: 27px;
  }
  &__name{
    text-align: center;
    margin-bottom: 25px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    button{
      font-size: 0;
      line-height: 0;
      display: block;
      width: 7px;
      height: 7px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 7px;
        height: 7px;
        background-color: #C4C4C4;
        border-radius: 50%;
      }
    }
  }
  .slick-active{
    button{
      &::after{
        width: 8px;
        height: 8px;
        border: 2px solid #FF7400;
        background-color: #fff;
        
      }
    }
  }
}
.gallery{
  &__inner{
    padding: 100px 0 50px;
  }
  &__title{
    margin-bottom: 107px;
    text-align: center;
    
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
   margin: 15px 15px;
  }
}
.our-cooks{
  &__inner{
    padding: 50px 0 44px;
  }
  &__title{
    text-align: center;
    margin-bottom: 100px;
  }
  &__photo{
    padding: 0 5px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
  
  button {
    margin: 50px 5px 0 5px;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 5px;
    height: 5px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 5px;
      background-color:#C4C4C4;
      border-radius: 50%;
    }
  }
  }
  .slick-active{
    button{
      &::before{
        top: -2px;
        width: 8px;
        height: 8px;
        border: 2px solid #FF7400;
        background-color: #fff;
        
      }
    }
  }
}
.footer-bg{
  &__img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@import 'media';